pylint
pytest
pytest-cov
pytest-mock
pytest-mccabe
pytest-pep8
pytest-pylint
tox
twine
wheel
# cx_freeze at time of writing does not support python3.7 in a release.
https://codeload.github.com/anthony-tuininga/cx_Freeze/zip/master ; python_version == "3.7" or python_version == "3.6"
cx_freeze ; python_version == "2.7"
-r requirements.txt