black ; python_version >= "3.6"
pylint
pytest
pytest-cov
pytest-mock
pytest-mccabe
pytest-pep8
pytest-pylint
tox
twine
wheel
# new cx_freeze does not work with python 2
cx_freeze ; python_version >= "3.6"
cx_freeze==5.1.1 ; python_version == "2.7"
-r requirements.txt
